@font-face {
  font-family: Netto;
  src: local("NettoOT-Bold"),
  local("NettoOT-Bold"),
  url(NettoOT-Bold.otf);
  font-weight: bold;
}
body {
    background-color: rgb(20,20,20);
    color: white;
    font-family: "Netto", sans-serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: gray;
}
#content {
    display: block;
    margin-left: auto;
    margin-right: auto
}

header {
	color: white;
}
footer {
	font-style: italic;
	font-size: 90%;
}

